/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
h2{
  margin-left: 340px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
